html{
    font-size: 16px;
}

body{
    background-image:linear-gradient(transparent 50%, transparent 50%, black 40%, transparent 60%, transparent 60%, black 30%), url("../imagini/background.jpg");
    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
    padding-top: 0;
    padding-bottom: 0;

    min-width: 500px;
}


h1{
    font-size: 4rem;
    color:var(--cl-marcare);
    text-shadow:0px 0px 1px black,0px 0px 2px black, 0px 0px 4px white,0px 0px 4px white,0px 0px 4px white;
}

h2{
    font-size: 3rem;
    color: black;
}

h3{
    font-size: 2 rem;
    color: black;

}